.container{
   display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 22%;
  background-color: #FFED8B;
  background: url("image/banner.png") center;
}
.menu{
  flex: 3%;
  background-color: #fceea1;
  display: flex;
  align-items: center;
}
.menu a {
   padding: 15px 20px;
   color: #bf9000;
   text-decoration: none;
}
.menu a:hover{
   background-color: #CFB8E6;
   color: #795196;
}
.content{
  flex: 70%;
  background-color: #fff2d7;
}
.content iframe{
   flex: 1;
   border: none;
   height: 100%;
   width: 100%;
}
.footer{
  flex: 5%;
  background-color: #FFED8B;
}
h1 {
  color: #A27100; 
  top-margin: 25pt
}
 .tuade {
  color: #A27100;
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;
}
 .noidung {
  color: #E4A000; 
  top-margin: 6pt
  font-size: 15pt;
  font-style: normal;
}
