h3 {
  color: MidnightBlue; 
  top-margin: 25pt
  font-size: 25pt
}
 .tuade {
  color: FireBrick;
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;
}
 .noidung {
  color: black; 
  top-margin: 6pt
  font-size: 15pt;
  font-style: normal;
}
