.container{
   display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: #FFED8B;
  background: url("images/banner.jpg") center;
}
.menu{
  flex: 5%;
  background-color: #FFE761;
  display: flex;
  align-items: center;
}
.menu hover{
   background-color: #FFFAE1;
   color: #FFC150;
}
.content{
  flex: 70%;
  background-color: #FFFAE1;
}
.content iframe{
   flex: 1;
   border: none;
   height: 100%;
   width: 100%;
}
.footer{
  flex: 10%;
  background-color: #FFED8B;
}
h1 {
  color: #A27100; 
  top-margin: 25pt
}
 .tuade {
  color: #A27100;
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;
}
 .noidung {
  color: #E4A000; 
  top-margin: 6pt
  font-size: 15pt;
  font-style: normal;
}
